 <div class="dashboard">
  <aside class="dashboard-sidebar">
    <ul class="sidebar-menu">
      <li class="sidebar-item"><%= link_to 'Mon Profil', user_profile_path %></li>

      <li class="sidebar-item"><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "logout-link" %></li>
    </ul>
  </aside>

  <section class="dashboard-content">
    <div class="user-info">
      <h1>My Profile</h1>
      <div class="info-section">
        <h3>Personal Information</h3>
        <p><strong>Nom</strong> <%= current_user.username %></p>
        <p><strong>Email</strong> <%= current_user.email %></p>
      </div>
    </div>
  </section>
</div>
