  <nav class="navbar">
    <%= link_to 'CATCHPARK', root_path, class: 'custom-logo-link' %>
        <ul class="menu">
          <li>
          <%= link_to 'Accueil', root_path, class: "custom-nav-item" %>
          </li>
          <li>
            <%= link_to 'Carte', parkings_path, class: "custom-nav-item" %>
          </li>
           <li>
          <%= link_to 'Profil', user_profile_path, class: "custom-nav-item" %>
           </li>

          <li class="btn-list-item">
            <a href="#" class="btn btn-secondary">Sign Up</a>
          </li>
          <li class="btn-list-item">
            <a href="#" class="btn btn-primary">Sign In</a>
          </li>
        </ul>
        <div class="buttons">
          <a href="#" class="btn btn-secondary">Sign Up</a>
          <a href="#" class="btn btn-primary">Sign In</a>
        </div>

        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
