<div class="container">
    <header>
        <h1 class="title">Stationner malin ! </h1>
        <h2 class="subtitle"><br> L'application qui va revolutionner votre facon de stationner.</h2>
        <!-- <p class="offer">Parking Intelligent pour Tous</p> -->
        <div class="event-year"><br><%= link_to 'Sign up', new_user_registration_path, class: "start" %><br>
        <br><%= link_to 'Log in', new_user_session_path, class: "signup" %></div>
        <!-- <div class="event-name">catchpark</div> -->
        <div class="buttons">
        </div>
    </header>
</div>
