<div class="container">
    <header>
        <h1 class="title">CatchPark</h1>
        <p class="subtitle"><br> Stationner malin ! </p>
        <!-- <p class="offer">Parking Intelligent pour Tous</p> -->
        <div class="event-year"><br></div>
        <!-- <div class="event-name">catchpark</div> -->
        <div class="buttons">
         <%= link_to 'Start', new_user_registration_path, class: "start" %>
        <%= link_to 'Sign up', new_user_session_path, class: "signup" %>
        </div>
    </header>
</div>
