<div class="onboarding-container">
  <div class="car-image-container">
    <%# <%= image_tag 'car-top-view.png', alt: "Top view of a car", class: "car-image" %>
  </div>
  <div class="onboarding-content">
    <i class="fa fa-clock-o onboarding-icon" aria-hidden="true"></i>
    <h3>gain de temps</h3>
    <p>Trouvez votre place de parking en un instant, sans effort.</p>
    <div class="buttons-container">
      <%= link_to 'Retour', welcome_path, class: "btn btn-retour" %>
<%= link_to 'Suivant', new_vehicle_registration_path, class: "btn btn-suivant" %>
    </div>
  </div>
</div>
