<!-- app/views/parkings/_info_window.html.erb -->
<div>
  <h4>Parking Info</h4>

  <p>Adresse : <%= parking.address %></p>
  <p>État : <%= parking.status %></p>

  <p>Se libère dans : <%= parking.duration.present? ? (parking.duration / 60000).to_i : 'N/A' %> minutes</p>

  <%= link_to 'Voir détails', parking_path(parking) %>
</div>
