<div class="parking-card">
  <div class="parking-card-content">
    <h4 class="parking-card-title">Parking Info</h4>
    <p class="parking-card-detail">Adresse : <span><%= parking.address %></span></p>
    <p class="parking-card-detail">État : <span><%= parking.status %></span></p>
    <p class="parking-card-detail">Se libère dans : <span><%= parking.duration.present? ? (parking.duration / 60000).to_i : 'N/A' %> minutes</span></p>
    <%= link_to 'Voir détails', parking_path(parking), class: "parking-card-link" %>
  </div>
</div>
