<%
=begin%>
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="mon-stationement">
      <div class="div">
        <div class="text-wrapper">User Car</div>
        <div class="text-wrapper-2">AA-777-AA</div>
        <div class="progress">
          <div class="overlap-group">
            <img class="ellipse" src="https://c.animaapp.com/Uo5RzBKg/img/ellipse-5.svg" />
            <div class="time"><p class="p">00 : 30 : 20</p></div>
          </div>
        </div>
        <p class="text">12.10 PM - 01 Dec 2021</p>
        <div class="zone">
          <div class="overlap">
            <div class="location-wrapper">
              <img class="location" src="https://c.animaapp.com/Uo5RzBKg/img/location.svg" />
            </div>
            <div class="text-wrapper-3">Localisation</div>
            <div class="element-boulevard">44 boulevard<br />44000, Nantes</div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="button-skip"><div class="skip">Fermer</div></div>
          <button class="CTA">
            <div class="start-booking-wrapper"><div class="start-booking">Terminer stationnement</div></div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
<%
=end%>
