<h1><br><br><br>Détails du Parking</h1>
<p>Adresse: <%= @parking.address %></p>
<p>Status: <%= @parking.status ? 'Disponible' : 'Non disponible' %></p>
<%= link_to 'Modifier', edit_parking_path(@parking) %>
<%= link_to 'Retour à la liste', parkings_path %>
