// External libraries
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,600");
@import "bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Styles globaux
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

/* Style générique pour la mise au point */
button:focus-visible {
  outline: 2px solid #7aa98d !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}
