:root {
  --black: rgba(19, 15, 38, 0.5);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(254, 217, 77, 1);
  --green: rgba(51, 173, 95, 1);
  --medium-33-font-family: "Montserrat-Light", Helvetica;
  --medium-33-font-weight: 300;
  --medium-33-font-size: 33px;
  --medium-33-letter-spacing: 0px;
  --medium-33-line-height: normal;
  --medium-33-font-style: normal;
  --medium-18-font-family: "Montserrat-Light", Helvetica;
  --medium-18-font-weight: 300;
  --medium-18-font-size: 18px;
  --medium-18-letter-spacing: 0px;
  --medium-18-line-height: normal;
  --medium-18-font-style: normal;
  --light-14-font-family: "Montserrat-Light", Helvetica;
  --light-14-font-weight: 300;
  --light-14-font-size: 14px;
  --light-14-letter-spacing: 0px;
  --light-14-line-height: normal;
  --light-14-font-style: normal;
  --light-20-font-family: "Montserrat-Light", Helvetica;
  --light-20-font-weight: 300;
  --light-20-font-size: 20px;
  --light-20-letter-spacing: 0px;
  --light-20-line-height: normal;
  --light-20-font-style: normal;
}
